NODE_ENV=production
PORT=3000
HOSTNAME=0.0.0.0
RADAR_DB_HOST=host.docker.internal
RADAR_DB_PORT=3306
RADAR_DB_USER=radar_app
RADAR_DB_PASSWORD=change-me
RADAR_DB_NAME=payment_platform
RADAR_DB_POOL_SIZE=8
RADAR_WORKER_INTERVAL_MS=30000
